@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --input-black: 197, 12%, 12%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;

    --surface-50: #fcfcfc;
    --surface-100: #f7f9fd;
    --surface-200: #e9ecee;
    --surface-300: #66707a;
    --surface-400: #33383d;
    --surface-500: #202327;
    --surface-550: #1A1F21
    --surface-550: #1a1f21;
    --surface-600: #060707;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --input-black: 197, 12%, 12%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .section {
@apply max-w-[1440px] px-6;
  }
  .h2 {
    @apply text-6xl font-bold;
  }
  .h3 {
    @apply text-5xl font-bold;
  }
  .subtitle-1 {
    @apply text-[34px] font-semibold;
  }
  .subtitle-2 {
    @apply text-2xl font-semibold;
  }
  .subtitle-3 {
    @apply text-xl font-semibold;
  }
  .p {
    @apply text-xl;
  }
  .body{
    @apply text-base;
  }
  .caption{
    @apply text-sm;
  }
  .button{
    @apply text-sm font-bold uppercase;
  }
  .nav-link {
    @apply text-sm uppercase cursor-pointer font-bold;
  }
  .triangle {
    @apply border-l-[6px] border-l-transparent border-t-[6px] border-t-black border-r-[5px] border-r-transparent;
  }
  .glass {
    @apply bg-opacity-20 bg-white backdrop-blur-md border border-opacity-30 border-solid border-white rounded-lg shadow-lg;
  }
   .modal {
    @apply fixed inset-0 bg-black bg-opacity-60 flex flex-col items-center justify-center transition-all ease-in-out overflow-hidden z-[999] p-20 opacity-0 pointer-events-none;
  }
  .modal-enter-done {
    @apply opacity-100 pointer-events-auto transform scale-100;
  }
  .modal-exit {
    @apply opacity-0;
  }
  .modal-content {
    @apply w-fit h-fit text-white flex items-center justify-center text-2xl;
  }
  .close-btn {
    @apply absolute top-3 right-3 rotate-45;
  }
}
